# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [6]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [8]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [105]:
# You code here
data.query('Year == 1988').groupby('Sex')['Age'].min()

Sex
F    11.0
M    12.0
Name: Age, dtype: float64

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [149]:
# You code here
female_2012 = data[(data['Sex'] == 'F') & (data['Year'] == 2012)]
female_2012_unique = female_2012.drop_duplicates(subset='ID')
female_basketball = female_2012_unique[female_2012_unique['Sport'] == 'Basketball']
percentage = (len(female_basketball) / len(female_2012_unique)) * 100
percentage = round(percentage, 1)
print(percentage)

3.1

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [147]:
# You code here
female_tenis_1988 = data[(data['Sex'] == 'F') & (data['Year'] == 1988) & (data['Sport'] == 'Tennis')]
female_tenis_1988_unique = female_tenis_1988.drop_duplicates(subset='ID')
print('Max height = ',round(female_tenis_1988_unique['Height'].max(), 1))
print('Mean height = ',round(female_tenis_1988_unique['Height'].mean(), 1))

Max height =  190.0
Mean height =  171.1

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [115]:
# You code here
participants_1988 = data[data['Year'] == 1988] 
heaviest_athlete = participants_1988.loc[participants_1988['Weight'].idxmax()]
heaviest_athlete[['Name', 'Sport', 'Weight', 'Sex']]

Name         Ji Zubrick
Sport     Weightlifting
Weight            161.0
Sex                   M
Name: 270643, dtype: object

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [63]:
# You code here
john_aalberg_data = data[data['Name'] == 'John Aalberg']
john_aalberg_data['Year'].nunique()

2

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [65]:
# You code here
john_aalberg_albertville_data = data[(data['Name'] == 'John Aalberg') & (data['City'] == 'Albertville')]
john_aalberg_albertville_data['Event'].nunique()

4

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [71]:
# You code here
belarus_tennis_2012_gold_data = data[(data['Team'] == 'Belarus') & (data['Year'] == 2012) & (data['Medal'] == 'Gold') & (data['Sport'] == 'Tennis')]
len(belarus_tennis_2012_gold_data)

2

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [79]:
# You code here
spain_2016_medal_data = data[(data['Team'] == 'Spain') & (data['Year'] == 2016)].dropna(subset=['Medal'])
italy_2016__medal_data = data[(data['Team'] == 'Italy') & (data['Year'] == 2016)].dropna(subset=['Medal'])
print(len(spain_2016_medal_data) < len(italy_2016__medal_data))

True

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [101]:
# You code here
data_1988 = data[data['Year'] == 1988]['Sport'].nunique()
data_2002 = data[data['Year'] == 2002]['Sport'].nunique() 
print(data_1988 - data_2002)

22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [141]:
# You code here
data.dropna(subset=['Medal']).drop_duplicates()['Team'].value_counts().sort_values(ascending=False).head(1)

United States    5219
Name: Team, dtype: int64